<launch>
  <rosparam file="$(find dogbot)/config/dogbot_control.yaml" command="load"/>

  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" ns="/dogbot" args="joint_state_controller
                                          joint_f_r_1_position_controller
                                          joint_f_r_2_position_controller
                                          joint_f_l_1_position_controller
                                          joint_f_l_2_position_controller
                                          joint_b_r_1_position_controller
                                          joint_b_r_2_position_controller
                                          joint_b_l_1_position_controller
                                          joint_b_l_2_position_controller"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
        respawn="false" output="screen">
        <remap from="/joint_states" to="/dogbot/joint_states" />
  </node>

</launch>

