<launch>

  <arg name="world" type="str" default="empty_world.launch"/>

  <include file="$(find gazebo_ros)/launch/$(world)">
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <param name="robot_description" type="str" textfile="$(find dogbot)/urdf/dogbot.urdf"/>

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model dogbot" />


</launch>